.petimagemain{
    width: 100%;
    display: flex;
    justify-content: center;

}
.petimage{
    width: 500px;
    border-radius: 50px;
}
.petcontentmain{
    margin-top: 3rem;
    width: 65%;
    border-radius: 50px;
    background: linear-gradient(#474F7A, #474F7A) padding-box,
    linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    margin-left: 50px;
    padding: 2rem 2rem;
    border: 2px solid transparent;
    transition: all 300ms ease;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}
.petname{
    text-align: center;
    margin:20px auto;
}
.split{
    display: flex;
    gap:2rem
}
.petadoptmain{
    margin-top: 3rem;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    background: linear-gradient(#5e0086e4, #5e0086e4) padding-box,
    linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    margin-left: 50px;
    padding: 2rem 2rem;
    border: 2px solid transparent;
}
.petadopth2{
    text-align: center;
}
.petbreed{
    margin: 10px 0px;
    font-weight: bolder;
}