    ul {
    margin: 0;
    padding: 0;
      list-style: none;
    }
    .navbarfully{
      margin: 5px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content:space-between;
      padding: 10px 30px 0;
      

    }
    nav {
      margin: 0;
      padding: 0;
      display: flex;
      width: 70%;
      align-items: center;
      justify-content: center;
      padding: 10px 30px 0;
      background: linear-gradient(#1F2544, #1F2544) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
      background-size: 200% 100%;
      animation: gradient 5s ease infinite;
      border-radius: 50px;
      border: 5px solid transparent;
      background-color: #FFD0EC;
    }

    
    
    
    nav > :is(h1, span.material-symbols-outlined) {
      width:10rem;
      height: 34px;
      display: grid;
      place-items: center;
    }
    
    nav h1 {
      background: #474F7A;
      border-radius: 8px;
      font-size: 16px;
    }
    
    nav span {
      color: #fff;
      font-size: 20px;
    }
    
    a {
      cursor: pointer;
      
    }
    
    .menu {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 70px;
    }
    
    .menu li {
      display: inline-block;
      width: 12rem;
      color: #999;
      transition: all 0.3s ease-in-out;
    }
    
    .menu li:hover .submenu {
      height: 85px;
    }
    
    .menu > li:hover > a {
      color: #fff;
    }
    
    .menu > li:hover > a::before {
      visibility: visible;
      scale: 1 1;
    }
    
    .submenu {
      overflow: hidden;
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 100%;
      background-color: var(--color-primary);
      height: 0;
      line-height: 40px;
      box-sizing: border-box;
      transition: height 0.3s ease-in-out;
    }
    .menu li .submenu a {
      color: #fff;
      opacity: 0;
      font-size: 16px;
      transition: opacity 0.25s;
    }
    
    .menu > li:hover .submenu a {
      opacity: 1;
    }
    
    .menu > li .submenu a:hover {
      background: rgb(0 0 0 / 20%);
      color: #535bf2;
    }
    
    .menu > li a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 7px;
      font-size: 15.5px;
      text-decoration: none;
      position: relative;
      height: 100%;
      transition: 0.3s;
      color: #FFD0EC;
    }

    .menu > li a::after {
      content: "";
      position: absolute;
      background-color: #dc8fbd;
      height: 3px;
      width: 0;
      left: 10;
      bottom: +5px;
    }
    
    .menu > li a:hover::after {
      content: "";
      position: absolute;
      background-color: #f76fc1;
      height: 3px;
      width: 70%;
      left: 10;
      bottom: +5px;
      transition: 0.3s;
    }

    .menu > li > a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 3px;
      left: 0px;
      background-color: var(--color-primary);
      transition: all 0.2s ease-in-out;
      scale: 0 0;
      visibility: hidden;
    }
    a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
    }
    
    .navbarbutton {
      padding: 13px 8px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      background-color: #183153;
      box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 15px;
      transition: all 0.5s ease;
    }
    
    .navbarbutton:after {
      letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
      
    }
    
    .navbarbutton:hover {
      letter-spacing: 3px;
      background-color: hsl(262, 100%, 69%);
      color: hsl(0, 0%, 100%);
      box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }
    
    .navbarbutton span {
      text-align: center;
      text-decoration: none;
      width: 100%;
      padding: 18px 25px;
      color: #fff;
      font-size: 1.125em;
      z-index: 20;
      transition: all 0.3s ease-in-out;
    }
    
    @keyframes scaleUp {
      0% {
        transform: scale(1);
      }
    
      50% {
        transform: scale(0.95);
      }
    
      100% {
        transform: scale(1);
      }
    }

    .navbarbutton:hover span {
      color: #183153;
      z-index: 500;
      animation: scaleUp 0.3s ease-in-out;
    }
    
    
    .container-input {
      position: relative;
      float: right;
    }
    
    .input {
      width: 150px;
      height: 40px;
      padding: 10px 0px 10px 40px;
      border-radius: 9999px;
      border: solid 1px #333;
      transition: all .2s ease-in-out;
      outline: none;
      opacity: 0.8;
      color: #183153;
      background-color: #FFD0EC;
    }
    
    .container-input svg {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translate(0, -50%);
    }
    
    .input:focus {
      opacity: 1;
      width: 250px;
    }

    .Welcometext{
      font-size: 18px;
      color:#FFD0EC
    }
